<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/blog/layout/main :: main-fragment(  
    ~{::title},
    ~{:: #static-resources},
    ~{:: #nav},
    ~{:: #header},
    ~{:: #sidebar},
    ~{:: #main-content},  
    ~{:: footer},
    ~{:: #script}
   )}">

<head>
    <meta charset="utf-8" />
    <title>Contac</title>
    <th:block id="static-resources">
        <!-- Custom styles for this page -->
    </th:block>
</head>

<body>

    <!-- Page content-->
    <div class="container" id="main-content">
        Contact
    </div>


    <th:block id="script">
        <!-- Page level custom scripts -->
    </th:block>
</body>

</html>