<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="main-fragment (title, staticResources, navbar, header, sidebar, mainContent, footer , script)">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title th:replace="${title}"></title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" th:href="@{/shop/assets/favicon.ico}" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link th:href="@{/shop/css/styles.css}" rel="stylesheet" />

	<!--/* Other css source files! */-->
	<th:block th:replace="${staticResources} ?: ~{}"></th:block>

</head>

<body>
	<!-- Navigation-->
	<th:block th:insert="~{/shop/fragments/nav :: default}"></th:block>
	<!-- /.Navigation-->

	<!-- Header-->
	<div th:replace="${header} ?: ~{}"></div>
	<!-- /.Header-->

	<!-- Begin Page Content -->
	<div th:replace="${mainContent} ?: ~{}"></div>

	<!-- Footer-->
	<th:block th:insert="~{/shop/fragments/footer:: default}"></th:block>
	<!-- /.Footer-->

	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="/shop/js/main.js"></script>
	<!-- Other javascript -->
	<th:block th:insert="${script} ?: ~{}"></th:block>
</body>

</html>