<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chi tiết Đơn hàng</title>
</head>

<body>
    <a href="#" onclick="history.back()">Back</a> &nbsp;
    <h1>Chi tiết Đơn hàng #<span th:text="${order.id}"></span></h1>
    <p>Ngày: <span th:text="${#dates.format(order.date, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
    <table border="1">
        <tr>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng</th>
        </tr>
        <tr th:each="detail : ${order.orderDetails}">
            <td th:text="${detail.item.name}">Tên Sản phẩm</td>
            <td th:text="${detail.item.price}">Giá</td>
            <td th:text="${detail.quantity}">Số lượng</td>
            <td th:text="${detail.quantity * detail.item.price}">Tổng</td>
        </tr>
    </table>
    <p>Tổng Cộng:
        <!-- <span th:text="${#numbers.formatCurrency(totalAmount)}"></span> -->
        <span th:text="${totalAmount}"></span>
    </p>
    <a href="/orders">Quay lại</a>
</body>

</html>